*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.nav{
  margin-bottom: 40px;
  display: flex;
  list-style: none;
  background-color: black;
  
}
.nav-item{
  flex-grow: 1;
}

.nav-item_link{
  font-weight: bold;
  text-decoration: none;
  display:block;
  padding: 10px 0;
  color: whitesmoke;
  text-align: center;
  justify-content: space-around;
  
}
.nav-item_link:hover{
  background-color: whitesmoke;
  color: black;
  border: 1px solid black;
}